<!DOCTYPE html>
<html>

<head>
    <title>ViewBag.Title</title>
    <link href="~/Public/css/LayoutSite.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/all.min.css" rel="stylesheet" />

    @RenderSection("head", required: false)

    <title></title>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</head>
<body>
    <div id="fb-root"></div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=3976925969082352&autoLogAppEvents=1" nonce="WejoyIci"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '3976925969082352',
                xfbml: true,
                version: 'v11.0'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <section id="header" class="bg-light">
        <div class="container py-1 ">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Public/images/ada.png" class="img-fluid" />
                </div>
                <div class="col-md-5 col-8">
                    <div class="nav-item d-inline-flex">
                        <marquee width="450px"><b>ROVEL SHOES - Giày Auth - Uy tín - Chất lượng - 0333387818</b></marquee>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="vuong"><a href="/Lienhe/Index"><i class="fas fa-phone-volume"></i></a></div>
                    <div class="vuong"><a href="/Taikhoan/Dangnhap"><i class="fas fa-user"></i></a></div>
                    <div class="vuong"><a href="/Giohang/Cart"><i class="fas fa-shopping-bag"></i></a></div>
                </div>
            </div>
        </div>

    </section>
    <section id="mainmenu" class="bg-mauhong">

        <nav class="navbar navbar-expand-lg navbar-dark bg-danger" style="background-color: #363636">
            <div class="container px-0">
                <button class="navbar-toggler border-white border-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link active" style="color: #F8F8FF; margin-left: 70px" href="/Site/Index"><b>TRANG CHỦ</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="/Gioithieu/About"><b>GIỚI THIỆU</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="/Site/Product"><b>SẢN PHẨM</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="/KhuyenMai/discountPage"><b>KHUYẾN MÃI</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="/Blog/Blog"><b>TIN TỨC</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin: 0px 20px" href="/LienHe/Index"><b>LIÊN HỆ</b></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #F8F8FF;" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <b>CHÍNH SÁCH</b>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/Gioithieu/Policy">Chính sách quy định chung</a></li>
                                <li><a class="dropdown-item" href="/Gioithieu/Condition">Điều kiện bảo hành</a></li>
                                <li><a class="dropdown-item" href="/Gioithieu/Warranty">Chính sách bảo hành</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </section>
    <section id="maincontent"> @RenderBody() </section>
    <section id="support" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-truck-moving"></i>Miễn phí vận chuyển</h5><h6>Miễn phí vận chuyển nội thành</h6>
                </div>
                <div class="col">
                    <h5><i class="fas fa-box-open"></i>Đổi trả hàng</h5><h6>Đổi trả lên tới 30 ngày</h6>
                </div>
                <div class="col">
                    <h5><i class="far fa-clock"></i>Tiết kiệm thời gian </h5><h6>Mua sắm dễ hơn khi online</h6>
                </div>
                <div class="col">
                    <h5><i class="far fa-comments"></i>Tư vấn trực tiếp</h5><h6>Đội ngũ tư vấn nhiệt tình</h6>
                </div>


            </div>
        </div>
    </section>
    <footer>

        <div class="container-fluid" style="background-color: #111111">

            <div class="container">
                <div class="row">

                    <div class="col-md-3 pt-3">
                        <a class="nav-link active" style="color: #F8F8FF"><b>CỬA HÀNG</b></a>

                        <iframe width="300"
                                height="200"
                                style="border:0"
                                loading="lazy"
                                allowfullscreen
                                src="https://maps.google.com/maps?width=631&amp;height=665&amp;hl=en&amp;saddr=Đại Học Hutech Khu E, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh,
                                Vietnam&amp;daddr=Đại Học Hutech Khu E, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh, Vietnam&amp;t=&amp;z=20&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        </iframe>




                    </div>
                    <div class="col-md-3 pt-3">
                        <a class="nav-link active" style="color: #F8F8FF"><b>CHÍNH SÁCH</b></a>
                        <a class="nav-link active" style="color: #BBBBBB" href="Url.Action(" About","Policy")"><b>Về chúng tôi</b></a>
                        <a class="nav-link active" style="color: #BBBBBB" href="Url.Action(" Policy","Policy")"><b>Chính sách quy định chung</b></a>
                        <a class="nav-link active" style="color: #BBBBBB" href="Url.Action(" Condition","Policy")"><b>Điều kiện bảo hành</b></a>
                        <a class="nav-link active" style="color: #BBBBBB" href="Url.Action(" Warranty","Policy")"><b>Chính sách bảo hành</b></a>
                        <a class="nav-link active" style="color: #BBBBBB" href="Url.Action(" ContactPage","Contact")"><b>Liên hệ</b></a>
                    </div>
                    <div class="col-md-3 pt-3">
                        <a class="nav-link active" style="color: #F8F8FF"><b>HỖ TRỢ</b></a>
                        <a class="nav-link active" style="color: #BBBBBB" href="tel:0989969919">Tổng đài tư vấn: 0989969919</a>
                        <a class="nav-link active" style="color: #BBBBBB" href="tel:0123456789">Tư vấn mua hàng: 0123456789</a>
                        <a class="nav-link active" style="color: #BBBBBB" href="tel:0163686839">Hỗ trợ kỹ thuật: 0163686839</a>
                        <a class="nav-link active" style="color: #BBBBBB" href="tel:0386969056">Phản hồi, góp ý: 0386969056</a>

                    </div>
                    <div class="col-3 pt-3">
                        <a class="nav-link active" style="color: #F8F8FF"><b>FANPAGE FACEBOOK</b></a>
                        <div class="fb-page" data-href="https://www.facebook.com/Rovel-Shoes-105290968596083" data-tabs="timeline"
                             data-width="300" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                             data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/Rovel-Shoes-105290968596083" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/Rovel-Shoes-105290968596083">ROVEL SHOES</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <center class="nav-link active"><p>&copy; @DateTime.Now.Year Copyright: THT Store</p></center>
            </div>
        </div>
    </footer>
    @*<section id="footer" class="bg-black py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3>CHĂM SÓC KHÁCH HÀNG</h3>
                        <ul>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>HƯỚNG DẪN</h3>
                        <ul>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>CHÍNH SÁCH</h3>
                        <ul>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>VỀ CỬA HÀNG</h3>
                        <ul>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                            <li><a href="#">content</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>*@
    <section id="coppyright" class="py-3 text-white bg-dark text-center">
        ban quyen thuoc ve tam rovel
    </section>

    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Services/ckeditor/ckeditor.js"></script>
    <link href="~/Public/css/LayoutAdmin.css" rel="stylesheet" />
    <script src="~/Public/js/CustomerDetail.js"></script>
    <div id="fb-root"></div>
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
    @RenderSection("scripts", required: false)

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "105290968596083");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v11.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
