
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Share/_LayoutSite.cshtml";
}

<div class="container my-3">
    <div class="row rounded rounded-3 border border-3 border-dark mx-auto" style="width:80%">
        <div class="col-md-6 p-0">
            <img class="img-fluid"  src="~/Public/images/Business_Analytics_02_generated.jpg" />
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Dangnhap", "Taikhoan", FormMethod.Post))
            {
                <h3 class="text-center mt-2"><b>Đăng nhập</b></h3>
                <div class="mb-3">
                    <label for="username" class="form-label">Tài khoản</label>
                    <input type="text" name="userName" class="form-control border-dark" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input type="password" name="password" class="form-control border-dark" id="password" required>
                </div>
                <div class="mb-3">
                    Bạn chưa có tài khoản ? <span><a href="@Url.Action("Dangky","Taikhoan")">Đăng ký</a></span>
                </div>
                <div class="mb-1 text-center">
                    <button type="submit" class="btn btn-primary w-100 mx-auto text-center"><b>Đăng nhập</b></button>
                </div>
                <div class="my-3 text-center">
                    Hoặc đăng nhập với
                </div>
                @*<div class="text-center">
                <a class="fb-login-button justify-content-center" onlogin="checkLoginState();" data-width="500" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></a>
            </div>*@
                <div class="text-center">
                    <a class="fb-login-button justify-content-center" onlogin="checkLoginState();" data-width="500" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></a>
                </div>
            }
            @*<h3 style="text-align:center">
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState(); ">
                </fb:login-button>
            </h3>*@
            <h4 style="text-align:center;color:red" ; id="status"> </h4>



            <!-- Load the JS SDK asynchronously -->
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
            <script>
                function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
                    console.log('statusChangeCallback');
                    console.log(response);                   // The current login status of the person.
                    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
                        testAPI();
                    } else {                                 // Not logged into your webpage or we are unable to tell.
                        document.getElementById('status').innerHTML = 'Đăng nhập bằng ' +
                            'Facebook.';
                    }
                }


                function checkLoginState() {               // Called when a person is finished with the Login Button.
                    FB.getLoginStatus(function (response) {   // See the onlogin handler
                        statusChangeCallback(response);
                    });
                }
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '678207023167740',
                        cookie: true,
                        xfbml: true,
                        version: 'v12.0'
                    });

                    FB.AppEvents.logPageView();

                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) { return; }
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

                function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me', function (response) {
                        console.log('Successful login for: ' + response.name);
                        document.getElementById('status').innerHTML =
                            'Xin chào, ' + response.name + '!';
                    });

                }
            </script>
        </div>
    </div>
</div>

