@model IEnumerable<webdemoquanlygiay.Models.Product>
@{
    ViewBag.Title = "HomeProduct";
    Layout = "~/Share/_LayoutSite.cshtml";
}

@foreach (var product in Model)
{
    <div class="col-md">
        <div class="card" style="width:100%">
            <img src="~/Public/images/Product/giay11.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">@product.productName</h5>
                <a href="#" class="btn btn-primary">go</a>
            </div>

        </div>
    </div>
}


