
@{
    ViewBag.Title = "web giay";
    Layout = "~/Share/_LayoutSite.cshtml";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Public/images/bg1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Public/images/bg1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Public/images/bg1.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class=" row mt-3">
        <div class="col-md-8">
            <div class="bg-danger" style="height:255px;"><img src="~/Public/images/b1.png" class="img-fluid"  /></div>
        </div>
        <div class="col-md-4 ">
            <div class="bg-info" style="height: 255px; "><img src="~/Public/images/b2.png" class="img-fluid" /></div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 ">
            <div class="bg-danger" style="height: 255px; "><img src="~/Public/images/b3.png" class="img-fluid" /></div>
        </div>
        <div class="col-md-4">
            <div class="bg-info" style="height: 255px; "><img src="~/Public/images/b4.png" class="img-fluid" /></div>
        </div>
        <div class="col-md-4 ">
            <div class="bg-danger" style="height: 255px; "><img src="~/Public/images/b5.png" class="img-fluid" /></div>
        </div>
    </div>
    <h2 class="text-center my-3">SẢN PHẨM BÁN CHẠY</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width:100%;">
                <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Giay convers</h5>
                    <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                    <a href="#" class="btn btn-primary">Dat mua</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width:100%;">
                <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Giay convers</h5>
                    <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                    <a href="#" class="btn btn-primary">Dat mua</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width:100%;">
                <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Giay convers</h5>
                    <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                    <a href="#" class="btn btn-primary">Dat mua</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width:100%;">
                <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Giay convers</h5>
                    <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                    <a href="#" class="btn btn-primary">Dat mua</a>
                </div>
            </div>
        </div>

    </div>

</div>
