
@{
    ViewBag.Title = "Product";
    Layout = "~/Share/_LayoutSite.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-4 my-3">
            @Html.Action("Listcategory", "Module")
            @Html.Action("ListThuonghieu", "Module")

        </div>
        <div class="col-md-8">
            <h2>Tat ca san pham</h2>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="card" style="width:100%;">
                        <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giay convers</h5>
                            <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                            <a href="#" class="btn btn-primary">Dat mua</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card" style="width:100%;">
                        <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giay convers</h5>
                            <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                            <a href="#" class="btn btn-primary">Dat mua</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card" style="width:100%;">
                        <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giay convers</h5>
                            <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                            <a href="#" class="btn btn-primary">Dat mua</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card" style="width:100%;">
                        <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giay convers</h5>
                            <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                            <a href="#" class="btn btn-primary">Dat mua</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>