
@{
    ViewBag.Title = "Product";
    Layout = "~/Share/_LayoutSite.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-4 my-3">
            <div class="card bg-danger mb-4" style="width: 100%;">
                <div class="card-header">
                    Danh muc san pham
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
            <div class="card bg-danger mb-4" style="width: 100%;">
                <div class="card-header">
                    Loc theo san pham
                </div>
                <div class="card-body bg-white">
                    <h4>Theo size</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Nam
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Nu
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Tre em
                        </label>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col-md-8">
            <h2>Tat ca san pham</h2>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="card" style="width:100%;">
                        <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giay convers</h5>
                            <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                            <a href="#" class="btn btn-primary">Dat mua</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card" style="width:100%;">
                        <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giay convers</h5>
                            <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                            <a href="#" class="btn btn-primary">Dat mua</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card" style="width:100%;">
                        <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giay convers</h5>
                            <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                            <a href="#" class="btn btn-primary">Dat mua</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card" style="width:100%;">
                        <img src="~/Public/images/giay1.jfif" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giay convers</h5>
                            <h5 class="card-title">Gia :500.000<sup>đ</sup></h5>

                            <a href="#" class="btn btn-primary">Dat mua</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>