
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-danger text-uppercase">THEM LOAI SAN PHAM</strong>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-sm btn-info" type="submit"><i class="fas fa-save"></i></>LUU</button>
                <a href="" class="btn btn-sm btn-danger"><i class="fas fa-long-arrow-alt-left"> Quay ve danh sach</i></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label><strong>Ten loai san pham <span class="text-danger">(*)</span></strong></label>
                    <input  name="name" class="form-control" placeholder="ten loai san pham" />
                </div>
                <div class="form-group">
                    <label><strong>Tu khoa SEO <span class="text-danger">(*)</span></strong></label>
                    <textarea name="name" rows="3" class="form-control" placeholder="ten loai san pham"></textarea>
                </div>
                <div class="form-group">
                    <label><strong>Mo ta SEO<span class="text-danger">(*)</span></strong></label>
                    <textarea name="name"  rows="3" class="form-control" placeholder="ten loai san pham" ></textarea>
                </div>
            </div>
            <div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><strong>Chu de cha</strong></label>
                        <select name="dd" class="form-control">
                            <option value="0">Chon cap cha</option>
                            <option value="1">giay nam </option>
                            <option value="2">giay nu</option>
                            <option value="3">giay the thao</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label><strong>Sap xep</strong></label>
                        <select name="dd" class="form-control">
                        
                            <option value="1">sau giay nam </option>
                            <option value="2">giay nu</option>
                            <option value="3">giay the thao</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label><strong>Trang thai</strong></label>
                        <select name="dd" class="form-control">
                          
                            <option value="1">chon trang thai </option>
                            <option value="2">chua xuat ban</option>
                            <option value="3">xuat ban</option>
                        </select>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

