
@{
    ViewBag.Title = "Condition";
    Layout = "~/Share/_LayoutSite.cshtml";
}

<div class="container border border-1 shadow rounded rounded-3 my-3">
    <div class="row">
        <div class="pt-3">
            <h2>Điều kiện bảo hành</h2>
        </div>
        <hr />
        <div class="col-12">
            <b>Các sản phẩm do ROVEL SHOES kinh doanh được bảo hành có thời hạn khi thỏa mãn các điều kiện sau:</b>
           
            <p>
                Máy tính xách tay còn trong thời hạn bảo hành. Thời hạn bảo hành được tính từ thời gian ghi trên tem bảo hành cộng
                thêm thời gian bảo hành mà ROVEL SHOES ghi trên phiếu bảo hành hoặc phiếu bán hàng.
            </p>
            <p>- Giày đủ điều kiện bảo hành theo điều kiện bảo hành của công ty  ROVEL SHOES  và theo quy định của từng hãng sản xuất.</p>
       
            <p>
                - Thời gian nhận bảo hành từ 14h đến 18h chiều và được ghi rõ ràng trên phiếu bán hàng. Đề nghị quý khách mang sản phẩm bảo hành đến ROVEL SHOES
                theo thời gian quy định, các trường hợp mang đến không đúng thời gian quy định chúng tôi sẽ từ chối tiếp nhận.
            </p>
           
         
       
        </div>
    </div>
</div>



