
@{
    ViewBag.Title = "Warranty";
    Layout = "~/Share/_LayoutSite.cshtml";
}

<div class="container border border-1 shadow rounded rounded-3 my-3">
    <div class="row">
        <div class="pt-3">
            <h2>Chính sách bảo hành</h2>
        </div>
        <hr />
        <div class="col-11">
            <b>QUY TẮC VÀNG</b>
            <p>Nếu trong 7 ngày đầu sài, quý khách cảm thấy không phù hợp với nhu cầu thì có 2 cách sau:</p>
            <p>- Cách 1: Đổi lấy máy khác cho phù hợp với nhu cầu sử dụng của quý khách, ROVEL SHOES xin cam kết sẽ phục vụ cho quý khách hoàn toàn miễn phí.</p>
            <p>- Cách 2: Lấy lại tiền, phí quý khách phải bù lỗ cho ROVEL SHOES là 40% giá trị của giày khi mua.</p>
            <p>
                Gói bảo hành mở rộng, đối với khách hàng mua máy bảo hành 6 tháng tại ROVEL SHOES mà còn trong thời gian bảo hành, có thể đến công ty
                để gia hạn thêm thời gian bảo hành cho sản phẩm, cụ thể như sau:
            </p>
            <p>- Mua thêm phiếu bảo hành 6 tháng cho sản phẩm với giá 300.000đ </p>
            <p>- Mua thêm phiếu bảo hành 12 tháng cho sản phẩm với giá 700.000đ</p>
            <p>
                Tư vấn hoàn toàn miễn phí khi quý khách có người thân muốn mua giày mới mà đang phân vân không biết lựa chọn như thế nào cho hợp lý
                vì giày mới khi mua sẽ không được test kỹ và có những lựa chọn giống ở trên so với giày cũ.
            </p><br />
            <b>QUY ĐỊNH BẢO HÀNH</b>
            <p>Lưu ý: Quý khách đến bảo hành vui lòng đến sau 13h30 các ngày trong tuần ( CN không bảo hành vì nhân viên kỹ thuật nghỉ).</p>
            <p>Quý khách đến bảo hành vào buổi sáng vui lòng để lại giày cho nhân viên kiểm tra, sau 13h30 sẽ liên hệ lại quý khách để báo kết quả.</p>
            <p>ROVEL SHOES xin chân thành cảm ơn!</p><br />
            <b>ĐIỀU KIỆN ÁP DỤNG:</b>
            <p>Máy bị lỗi kỹ thuật do nhà sản xuất.</p>
            <p>
                Giày còn trong thời gian bảo hành, còn nguyên tình trạng và ngoại hình như lúc quý khách mua, 
                (phải có phiếu bảo hành đối với khách hàng khi mua giày yêu cầu lấy phiếu bảo hành hoặc mua thêm phiếu bảo hành mở rộng, trường hợp khác bảo hành qua tem ).
            </p><br />
           
        </div>
    </div>
</div>



